
:root {
  --global-body-textColor: rgb(74, 72, 67);
  --global-body-linkColor: rgba(38,48, 86, 1);
  --global-body-linkShadow: 0 1px 0 rgba(var(--global-body-linkColor), 0.4);
  --global-body-linkHoverShadow: 1px 1px 5px rgb(154, 151, 56);
}


/* Establishes the font face in use.
*/

body {
  font-family: 'Piazzolla', serif;
  line-height: 1.5;
  letter-spacing: 0.12em;
  /* better font smoothing, thanks @hsleonis,
  https://gist.github.com/hsleonis/55712b0eafc9b25f1944 */
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;
}


p {
  margin-bottom: 2em;
}

/* Larger screens get bigger fonts
*/
@media all and (min-width: 770px) {


  h2 {
    font-size: 1.5em;
  }
}

/* Sets up a grid layout. 
*/

.page {
  display: grid;
  padding: 2vw;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}


header {
  grid-row: 1;
}
main {
  grid-row: 2;
}

/* Colors and effects.
*/

a {
  transition: all 0.8s ease;
  color: var(--global-body-linkColor);
  text-decoration: none;
}

a:hover,
a:focus,
.active {
  color: var(--global-body-linkColor);
}


body {
 
  color: var(--global-body-textColor);
}


dd {
  margin-bottom: 3em;
  margin-left: 0;
}


dd p {
  margin-top: 0;
}




/* Larger screens.
*/
@media all and (min-width: 769px) {


}