@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

:root {
  --global-body-textColor: rgb(74, 72, 67);
  --global-body-linkColor: rgba(38,48, 86, 1);
  --global-body-linkShadow: 0 1px 0 rgba(var(--global-body-linkColor), 0.4);
  --global-body-linkHoverShadow: 1px 1px 5px rgb(154, 151, 56);
}
/* Utilities.
*/

.center {
  text-align: center;
}

.hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 1.33rem;
  width: 1px;
  transition: height 0.4s ease-in;
  transition: width 0.15s linear;
}

.hidden.show {
  clip: auto;
  height: auto;
  position: relative;
  width: 100%;
}

.plain {
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

/* Establishes the font face in use.
*/

body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.12em;
  /* better font smoothing, thanks @hsleonis,
  https://gist.github.com/hsleonis/55712b0eafc9b25f1944 */
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;
}

nav,
h1,
h2,
dt {
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;
}


p {
  margin-bottom: 2em;
}

/* Larger screens get bigger fonts
*/
@media all and (min-width: 770px) {


  h2 {
    font-size: 1.5em;
  }
}

/* Sets up a grid layout. 
*/

.page {
  display: grid;
  grid-gap: 1em;
  padding: 2vw;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}


header {
  grid-row: 1;
}
main {
  grid-row: 2;
}

/* Colors and effects.
*/

a {
  transition: all 0.8s ease;
  text-shadow: var(--global-body-linkShadow);
  color: var(--global-body-linkColor);
  text-decoration: none;
}

a:hover,
a:focus,
.active {
  color: var(--global-body-linkColor);
  text-shadow: var(--global-body-linkHoverShadow);
}


body {
  background-image: linear-gradient(to bottom, rgba(255, 111, 97, .95) 0%, rgba(181, 186, 182, 1.0) 10rem, rgba(181, 186, 182, 0.55) 100%);
  color: var(--global-body-textColor);
}


dd {
  margin-bottom: 3em;
  margin-left: 0;
}


dd p {
  margin-top: 0;
}


main header {
  color: #282827;
  text-shadow: none;
}




/* Larger screens.
*/
@media all and (min-width: 769px) {

body {
  background-image: linear-gradient(to right, rgba(255, 111, 97, .95) 0%, rgba(181, 186, 182, 1.0) 44%, rgba(181, 186, 182, 0.55) 100%);
}

  main {
    grid-column: 2;
  }
  .hidden {
    clip: auto;
    height: auto;
    position: static;
    width: 100%;
  }

}